
<title>Nouveau utilisateur</title>

    <h1>Nouveau utilisateur</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}

        <button class="btn">Enregistrer</button>
    {{ form_end(registrationForm) }}
