
<title>Liste des cartes disponibles</title>

<h1>Liste des cartes disponibles</h1>
<a href="{{ path('create-card') }}">Créer une nouvelle carte</a>

<a class="export" href="{{ path('export_csv', {'name': 'cards'}) }}" >Exporter les cartes 
    <input class="export_name" type="hidden" value='allCards'>
</a>
{# download="export.csv" #}
<table class="table">
    <thead>
        <tr>
            <th>Images</th>
            <th>Créateur</th>
            <th>Type</th>
            <th>Faction</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr>
            <td>
            {% if card.fullArt == 1 %} 
                {% set backgroundFullCard = "background-image:url('uploads/images/cards/" ~ card.image ~ "')" %}
                {% set backgroundCard = '' %}
            {% else %}
                {% set backgroundFullCard = "background-color:" ~ card.idType.cardColor ~ "" %}
                {% set backgroundCard = "background-image:url('uploads/images/cards/" ~ card.image ~ "'); border-width: initial; border:1px solid black;" %}
            {% endif %}
                <div class="card" style= "{{ backgroundFullCard }}">
                    <div class="cardHeader" >
                        <span class="cardNumber" style="background-color:blue">{{ card.cost }}</span>
                        <span>{{ card.name }}</span>
                    </div>
                    <div class="cardImage" style=" {{backgroundCard}}"  >
                    </div>
                    <div class="cardBody">
                        <div>{{ card.idType.name }}/{{ card.idFaction.name }}</div>{#symfony considère qu'on fait un getIdCreator #}
                        <div>{{ card.description }}</div>
                    </div>
                    <div class="cardFooter">
                    {% if card.attack is not null or card.hp is not null or card.shield is not null %}
                        <div class="cardNumber" style="background-color:red">{{ card.attack }}</div>
                        <span class="cardNumber" style="background-color:pink">{{ card.hp }}</span>
                        <div class="cardNumber" style="background-color:green">{{ card.shield }}</div>
                    {% endif %}
                    </div>
                </div>
            </td>
            <td>{{ card.idCreator.firstName }}</td>
            <td>{{ card.idType.name }}</td>
            <td>{{ card.idFaction.name }}</td>

            <td>
                <a href="{{ path('show-card', {'id': card.id}) }}">Détail</a>
                <a href="{{ path('edit-card', {'id': card.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Aucune carte n'a été créé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

