
<title>Cards index</title>

    <h1>Cards index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Images</th>
                <th>Créateur</th>
                <th>Type</th>
                <th>Faction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>
                    <div class="card" style="background-color:{{ card.idType.cardColor }}">
                        <div class="cardHeader" >
                            <span>{{ card.name }}</span>
                            <span class="cardNumber" style="background-color:blue">{{ card.cost }}</span>

                        </div>
                        <div class="cardImage" style="background-image:url('{{ asset('uploads/images/cards/' ~ card.image) }}');" >
                        </div>
                        <div class="cardBody">
                            <div>{{ card.idType.name }}/{{ card.idFaction.name }}</div>{#symfony concidère qu'on fait un getIdCreator #}
                            <div>{{ card.description }}</div>
                        </div>
                        <div class="cardFooter">
                            <div class="cardNumber" style="background-color:red">{{ card.attack }}</div>
                            <div class="cardNumber" style="background-color:green">{{ card.shield }}</div>
                        </div>
                    </div>
                </td>
                <td>{{ card.idCreator.firstName }}</td> {#symfony concidère qu'on fait un getIdCreator #}
                <td>{{ card.idType.name }}</td>
                <td>{{ card.idFaction.name }}</td>

                <td>
                    <a href="{{ path('show-card', {'id': card.id}) }}">show</a>
                    <a href="{{ path('cards_edit', {'id': card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create-card') }}">Create new</a>
