
<title>Liste de vos Decks</title>

<h1>Liste de vos Decks</h1>
<a href="{{ path('create-deck') }}">Créer un nouveau deck</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <!--<th>Créateur</th>-->
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for deck in decks %}
        <tr>
            <td>{{ deck.id }}</td>
            <td>{{ deck.name }}</td>
            {#<td>{{ deck.idUser.firstName }}</td>#}
            <td>
                <a href="{{ path('show-deck', {'id': deck.id}) }}">Détail</a>
                <a href="{{ path('edit-deck', {'id': deck.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Vous n'avez pas de deck :/</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


