
<title>Liste utilisateurs</title>

    <h1>Liste des utilisateurs</h1>
    <a href="{{ path('app_register') }}">Créer un nouvel utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.createdDate ? user.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">Détail</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

